.chart{
    flex: 4;
    -webkit-box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 3px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: gray;

    .title{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .cartGrid{
        stroke: rgb(233, 230, 230);
    }
}

//@at-root

@media screen and (max-width: 375px) {
    .chart{
        width: 100%;

        .title{
            font-size: 12px;
        }

        .ResponsiveContainer{
            font-size: 12px;
        }
    }
}


@media screen and (max-width: 768px) {
    .chart{
        width: 100%;

        .title{
            font-size: 14px;
        }

        .ResponsiveContainer{
            font-size: 12px;
        }
    }
}