.new{
    display: flex;

    .newContainer{
        flex: 6;

        .newDataForm{
            display: flex;
            flex-direction: column;
            gap: 20px;

            

            .top{
                padding: 10px;

                .newUser{
                    -webkit-box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 3px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    border-radius: 5px;
                    padding: 10px;
                    color: gray;
                }
            }

           .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 3px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            padding: 10px;
            width: 98%;
            margin-left: 15px;
            
            .left{
                flex: 1;
                display: flex;
                justify-content: center;

                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }

            .right{
                flex: 1;
                display: flex;
                align-items: center;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 30px;

                    .formInput{
                        width: 40%;

                        label{
                            display: flex;
                            gap: 10px;
                            font-size: 16px;
                            padding-bottom: 5px;

                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            outline: none;


                            &::placeholder{
                                font-size: 12px;
                            }
                        }
                    }

                    button{
                        width: 120px;
                        padding: 8px;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        border: none;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
           }

        }
    }
}

//@at-root
// @media screen and (max-width: 320px) {
//     .new{
//         display: flex;
    
//         .newContainer{
    
//             .newDataForm{
//                 gap: 5px;
//                 align-items: center;
//                 justify-content: center;
                
                
//                 .top{
//                     padding: 15px;
//                     width: 100%;
//                     // margin-left: 65px;

                    
//                     .newUser{
//                        font-size: 14px;
//                     }
//                 }
    
//                .bottom{
//                 padding: 10px;
//                 width: 90%;
//                 flex-direction: column;
//                 align-items: center;
//                 margin-bottom: 10px;
//                 gap: 20px;
//                 padding: 10px;
//                 // margin-left: 70px;
                
//                 .left{
    
//                     img{
//                         width: 5rem;
//                         height: 5rem;
//                         border-radius: 50%;
//                     }
//                 }
    
//                 .right{
    
//                     form{
//                         gap: 15px;
    
//                         .formInput{
//                             width: 40%;
    
//                             label{
//                                 gap: 10px;
//                                 font-size: 14px;
//                             }
    
//                             input{
//                                 padding: 5px;
//                                 font-size: 12px;
    
//                                 &::placeholder{
//                                     font-size: 12px;
//                                 }
//                             }
//                         }
    
//                         button{
//                             width: 100px;
//                             margin-top: 10px;
//                         }
//                     }
//                 }
//                }
    
//             }
//         }
//     }
// }

@media screen and (max-width: 425px) {
    .new{
        display: flex;
    
        .newContainer{
            // width: 100%;
    
            .newDataForm{
                gap: 5px;
                align-items: center;
                
                
                .top{
                    padding: 15px;
                    width: 100%;
                    // margin-left: 11px;

                    
                    .newUser{
                       font-size: 14px;
                    }
                }
    
               .bottom{
                padding: 10px;
                width: 90%;
                flex-direction: column;
                align-items: center;
                margin-bottom: 10px;
                gap: 20px;
                padding: 10px;
                margin-right: 10px;
                
               
    
                .right{
    
                    form{
                        gap: 15px;
    
                        .formInput{
                            width: 40%;
    
                            label{
                                gap: 10px;
                                font-size: 14px;
                            }
    
                            input{
                                padding: 5px;
                                font-size: 12px;
    
                                &::placeholder{
                                    font-size: 12px;
                                }
                            }
                        }
    
                        button{
                            width: 100px;
                            margin-top: 10px;
                        }
                    }
                }
               }
    
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .new{
        display: flex;
    
        .newContainer{
            flex: 6;
    
            .newDataForm{
                gap: 0.8rem;
    
                
    
                .top{
                    padding: 0.8rem;
    
                    .newUser{
                       font-size: 1rem;
                    }
                }
    
               .bottom{
                width: 96.5%;
                padding: 1.5rem;
                
                .left{
                    flex: 1;
                    display: flex;
                    justify-content: center;
    
                    img{
                        width: 10rem;
                        height: 10rem;
                        border-radius: 50%;
                    }
                }
    
                .right{
    
                    form{
                        gap: 20px;
    
                        .formInput{
                            width: 40%;
    
                            label{
                                font-size: 0.8rem;

                                .icon{
                                    cursor: pointer;
                                }
                            }
    
                            input{
                              
                                &::placeholder{
                                    font-size: 12px;
                                }
                            }
                        }
    
                        button{
                            width: 100px;
                            font-size: 14px;
                           }
                    }
                }
               }
    
            }
        }
    }
}